div{
    border: 1px solid black;
    border-collapse: collapse;
}

.P1{
    background-color: green;
    height: 50px;
}
.P2{
    background-color: red;

}
.P3{
    background-color: purple;
  
}

.P4{
    background-color: lightsalmon;
  
}
.P5{
    background-color: lightsalmon;
   
}
.P6{
    background-color: blue;
   
}
.P7{
    background-color: blue;
   
}
.P8{
    background-color: blue;
   
}
.P9{
    background-color: blue;
   
}
.P10{
    background-color: blue;
   
}
.P11{
    background-color: blue;
   
}
.P12{
    background-color: blue;
    
}
.P13{
    background-color: blue;
    
}
.P14{
    background-color: blue;
   
}
.P15{
    background-color: blue;
  
}
.P16{
    background-color: green;
    height: 50px;
}