#contain_wrapper
{
    width: 700px;
    height: 900px;
    margin: left;
}
#daily
{
    width: 700px;
    height: 110px;
}
#zodiaco
{
    position: absolute;
    top:118px;
    width: 700px;
    height: 110px;
}
#sirius
{
    position: absolute;
    top:228px;
    width: 700px;
    height: 110px;
}
#articleleft1
{
    position: absolute;
    top: 338px;
    left: 10px;
    width: 125px;
    height: 120px
}
#articleleft2
{
    position: absolute;
    top: 458px;
    left: 10px;
    width: 125px;
    height: 195px
}
#articleleft3
{
    position: absolute;
    top: 653px;
    left: 10px;
    width: 125px;
    height: 270px
}
#articlemiddle1
{
    position: absolute;
    top: 338px;
    left: 136px;
    width: 425px;
    height: 112px;
}
#articlemiddle2
{
    position: absolute;
    top: 450px;
    left: 136px;
    right: 400px;
    width: 424px;
    height: 313px;
}
#articlemiddle3
{
    position: absolute;
    top: 763px;
    left: 136px;
    right: 400px;
    width: 424px;
    height: 160px;
}
#articleright1
{
    position: absolute;
    top: 338px;
    left: 560px;
    width: 148px;
    height: 247px;
}
#articleright2
{
    position: absolute;
    top: 639px;
    left: 560px;
    width: 248px;
    height: 313px;
}
