
    font-family: verdana;
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}

.container1 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top 20px;
}
.div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    overflow: hidden;
}
.dodgeeffect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
.dodgeeffect:hover {
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
  }

  .container2{   
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 60px;
    margin: 0 auto;
    top:20px;
  }
  .div-img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.mustang3effect {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  transform: translate(0px);
  -ms-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
  -o-transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.mustang3effect.textmustang3 {
    font-family: 'Open Sans';
    position: absolute;
    z-index: -1;
    display: block;
    height: 50%;
    top: 50%;
    right: 0;
    padding-right: 5px;
  }
.mustang3effect:hover {
    transform: translate(-90px, 0px);
    -ms-transform: translate(-90px, 0px);
    -moz-transform: translate(-90px, 0px);
    -webkit-transform: translate(-90px, 0px);
    -o-transform: translate(-90px, 0px);
  }
  
  