#imatge
{
    width: 600px;
    height: 600px;
}

.cuadro1
{
    border: 1px solid white;
    float: left;
    width: 67%;
    height: 14%;
    background-color: green;
    margin-bottom: 0%;
}

.cuadro2
{
    border: 1px solid white;
    float: right;
    width: 32%;
    height: 14%;
    background-color: yellowgreen;   
    margin-left: 0%;
}
.cuadro3
{
    border: 1px solid white;
    float: left;
    width: 33%;
    height: 24%;
    background-color: black;
    margin-bottom: ;
}

.cuadro4
{
    border: 1px solid white;
    float: left;
    width: 34%;
    height: 24%;
    background-color: yellowgreen;
    margin-left: ;
}

.cuadro5
{
    border: 1px solid white;
    float: right;
    width: 32%;
    height: 14%;
    background-color: green;
    margin-bottom: ;
    margin-left: ;
}

.cuadro6
{
    border: 1px solid white;
    float: right;
    width: 32%;
    height: 14%;
    background-color: yellowgreen;
    margin-bottom: ;
    margin-left: ;
}

.cuadro7
{
    border: 1px solid white;
    float: left;
    width: 67%;
    height: 14%;
    background-color: green;
    margin-bottom: ;
    margin-right: ; 
}

.cuadro8
{
    border: 1px solid white;
    float: right;
    width: 32%;
    height: 24%;
    background-color: black;
}


.cuadro9
{
    border: 1px solid white;
    float: left;
    width: 67%;
    height: 14%;
    background-color: yellowgreen;
    margin-bottom: ;
    margin-right: ;
}

.cuadro10
{
    border: 1px solid white;
    float: left;
    width: 33%;
    height: 14%;
    background-color: green;
    margin-right: ;
}

.cuadro11
{
    border: 1px solid white;
    float: left;
    width: 34%;
    height: 14%;
    background-color: yellowgreen;
    margin-right: ;
}

.cuadro12
{
    border: 1px solid white;
    float: right;
    width: 32%;
    height: 14%;
    background-color: green;
}