#imatge
{
    width: 600px;
    height: 600px;
}

.cuadro1
{
    border: 1px solid white;
    float: left;
    width: 67%;
    height: 14%;
    background-color: green;
    margin-bottom: 1%;
}

.cuadro2
{
    border: 1px solid white;
    float: right;
    width: 31%;
    height: 14%;
    background-color: yellowgreen;   
    margin-left: 1%;
}
.cuadro3
{
    border: 1px solid white;
    float: left;
    width: 33%;
    height: 24%;
    background-color: black;
    margin-bottom: 1%;
}

.cuadro4
{
    border: 1px solid white;
    float: left;
    width: 32.6%;
    height: 24%;
    background-color: yellowgreen;
    margin-left: 1%;
}

.cuadro5
{
    border: 1px solid white;
    float: right;
    width: 31%;
    height: 11.3%;
    background-color: green;
    margin-bottom: 1%;
}

.cuadro6
{
    border: 1px solid white;
    float: right;
    width: 31%;
    height: 11.2%;
    background-color: yellowgreen;
    margin-bottom: 1%;
}

.cuadro7
{
    border: 1px solid white;
    float: left;
    width: 67%;
    height: 14%;
    background-color: green;
    margin-bottom: 1%;
    margin-right: 1%; 
}

.cuadro8
{
    border: 1px solid white;
    float: right;
    width: 31%;
    height: 29.4%;
    background-color: black;
}


.cuadro9
{
    border: 1px solid white;
    float: left;
    width: 67%;
    height: 14%;
    background-color: yellowgreen;
    margin-bottom: 1%;
}

.cuadro10
{
    border: 1px solid white;
    float: left;
    width: 32%;
    height: 14%;
    background-color: green;
    margin-right: 1%;
}

.cuadro11
{
    border: 1px solid white;
    float: left;
    width: 33.5%;
    height: 14%;
    background-color: yellowgreen;
    margin-right: 1%;
}

.cuadro12
{
    border: 1px solid white;
    float: right;
    width: 31%;
    height: 14%;
    background-color: green;
}