#imatge
{
    width: 1000px;
    height: 1000px;
}

.mosaico1
{
    border: 1px solid white;
    float: left;
    width: 1000px;
    height: 200px;
    background-color: green;
    margin-bottom: 2px;
}
.mosaico2
{
    border: 1px solid white;
    float: left;
    width: 299px;
    height: 150px;
    background-color: green;
    margin-bottom: 2px;
    margin-left: 2px;
}
.mosaico3
{
    border: 1px solid white;
    float: right;
    width: 299px;
    height: 150px;
    background-color: green;
    margin-bottom: 2px;
}