.container{
    width: 100%;
    height: 100%;
}

#titulo1{
    text-align: center;
    color: lightslategrey;
}

#volk-img{
    width: 90px;
    height: 70px;
}

.h2{
    text-align: center;
    background-color: navy;
    color: white;
}

.imagen-w{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform:scale(1.2);
    -ms-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -o-transform:scale(1.2);
    -webkit-transition:all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    padding-top: 23px;
    padding-bottom: 24px;
    height: 280px;
}

.imagen-w:hover{
    transform:scale(1);
    -ms-transform:scale(1);
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
    -o-transform:scale(1);
}

.hidden{
    /*overflow: hidden;*/
}

.text{
    text-align: center;
    color: navy;
}

.precio{
    text-align: center;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}