.container{
    width: 100%;
    height: 100%;
}

#titulo1{
    text-align: center;
    color: lightslategrey;
}

#volk-img{
    width: 90px;
    height: 70px;
}

.carousel-item{
    width: 100%;
    height: 650px;
}

.coche{
    width: 100%;
    height: 650px;
}

.titulo2{
    float: left;
    background-color:#484747 ;
    width: 100%;
    height: 50px;
    color: #2555b9;
    text-align: center;
}

#parrafo1{
    float: left;
    width: 70%;
    height: 100%;
    font-size:16px;
    background-color:#364084;
    color: aliceblue;
}

#volk-img2{
    float: left;
    width: 30%;
    height: 600px;
    top: 100%;  
}

.titulo3{
    float: left;
    text-align: center;
    width: 50%;
    height: 150px;
    background: linear-gradient(to top, white, #2555b9);
    color: black;
}

.innovaciones{
    float: left;
    width: 50%;
    height: 300px;
}