.container{
    width: 100%;
    height: 100%;
}

#titulo1{
    text-align: center;
    color: lightslategrey;
}

#volk-img{
    width: 90px;
    height: 70px;
}

.carousel-item{
    width: 100%;
    height: 375px;
}

.tituloG{
    background-color:#484747 ;
    width: 100%;
    height: 50px;
    color: #2555b9;
    text-align: center;
}

#parrafo1{
    width: 100%;
    height: 100%;
    font-size:16px;
    background-color:#364084;
}

#volk-img2{
    width: 100%; 
    top: 100%;  
}